// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

/*
@import '~vuetify/src/styles/styles.sass';

$body-font-family: 'Montserrat', sans-serif;
$font-size-root: 16px;
$btn-font-weight: 700 !default;

*/
